[alias]
	lol = log --graph --pretty=format:'%C(yellow)%h%Creset %C(bold blue)<%an>%Creset %C(green)(%ar)%Creset %C(red)%d%Creset %s' -16
	recommit = commit --reuse-message=HEAD --amend

[push]
	default = simple

[user]
	name = Dustin Brown
